<div class="list_wrapper">
    <ul class="list"> 
      <li class="list_item selected"> 
        <div class="thumb"> </div>
        <div class="info"> 
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </li>
      <li class="list_item"> 
        <div class="thumb"> </div>
        <div class="info"> 
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </li>
      <li class="list_item"> 
        <div class="thumb"> </div>
        <div class="info"> 
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </li>
      <li class="list_item"> 
        <div class="thumb"> </div>
        <div class="info"> 
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </li>
    </ul>
</div>