    <mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Poly-Radio
  <button mat-button>
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<button mat-button>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
</button>
<button mat-button>
    <mat-icon>info</mat-icon>
    <span>About</span>
</button>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
  
        <img class="avatar mat-elevation-z8" src="{{radio.imgPreview}}" />
  
        <h4 class="name">{{radio.name}}</h4>
        <p class="frequence">{{radio.frequence}} {{radio.contry}}</p>
  
        <app-search-bar (searchQuery)="searchRadio($event)"></app-search-bar>
        
        <div class="list_wrapper">
            <ul class="list"> 
              <li *ngFor="let rd of radios" class="list_item" (click)="changeRadio(rd.num)" (click)="cardRadio.changeAndLauch(rd.url)">
                <div class="thumb" style="background-image: url({{rd.imgPreview}})"> </div>
                <div class="info"> 
                  <div class="title">{{rd.name}}</div>
                  <div class="artist">{{rd.frequence}} {{rd.contry}}</div>
                </div>
              </li>
            </ul>
        </div>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <!--<div class="search-container">
              <app-search-bar (searchQuery)="searchRadio($event)"></app-search-bar>
            </div>-->
            <div class="container">
                <div class="row">
                    <app-card #cardRadio [radio]="radio" [radios]="radios" (someEvent)="changeRadio($event)"></app-card>
                </div>
            </div>
        </div>
    </mat-sidenav-content>    
</mat-sidenav-container>